body {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  transition: 0.2s ease;
  text-align: center;
}

body.success {
  background-color: #b7f0b7;
  transition: 0.2s ease;
}

.game-container {
  margin: 0px auto;
}